/* Style for the entire table */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900 */

.fsd {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.contact-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 10px; /* Add rounded corners */
}

/* Style for table headers (th) */
.contact-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd; /* Add a bottom border */
}

/* Style for table rows (tr) */
.contact-table tr {
  transition: background-color 0.3s; /* Smooth transition effect */
}

.contact-table tr:hover {
  background-color: #f9f9f9; /* Light gray background on hover */
}

/* Style for table cells (td) */
.contact-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Style for red tags (e.g., "HOT" or "APP ZONE") */
.red-tag {
  color: red;
  font-weight: bold;
  text-transform: uppercase; /* Convert text to uppercase */
}

.sort-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-buttons button {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sort-buttons button:hover {
  background-color: #ddd;
}

.sort-buttons button.active {
  background-color: #4CAF50;
  color: white;
}

.sort-options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sort-options button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sort-options button:hover {
  background-color: #3e8e41;
}

.sort-options button:active {
  background-color: #2e6c3f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}